html {
  height: 100%;
  display: grid;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  grid-gap: 1rem;
}
body section {
  display: grid;
  grid-gap: 0.7rem;
  place-items: center;
}
body section h2,
body section #recordStatus {
  font-family: sans-serif;
  margin: 0;
}
body section #recordControlsWrapper > div {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
body section #recordControlsWrapper > div .record-btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  font-family: sans-serif;
  background-color: #eee;
  font-size: 2.5rem;
}
body section #recordControlsWrapper > div .record-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
body .recorder {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 10;
  background-color: #fff;
  width: 200px;
  height: 140px;
}
body video {
  display: grid;
  width: 80vw;
  height: 100%;
  visibility: hidden;
}