{
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "singleQuote": true
}
