html {
  height: 100%;
  display: grid;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  grid-gap: 1rem;
}

section {
  display: grid;
  grid-gap: .7rem;
  place-items: center;
}

h2,
#recordStatus {
  font-family: sans-serif;
  margin: 0;
}

#recordControls>div {
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
}

.record-btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  font-weight: bold;
  letter-spacing: .05rem;
  font-family: sans-serif;
}

.record-btn:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.recorder {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 10;
  background-color: #fff;
  width: 200px;
  height: 140px;
}

video {
  display: grid;
  width: 80vw;
  height: 100%;
}
